html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Reajuste para REMS - 62.5% = 10px de 16px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}


/** Globales **/

img {
    max-width: 100%;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 300;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}


/** Header **/

.site-header {
    background-color: #293846;
    padding: 2rem 0rem;
}

.container-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    align-items: center;
}


/** Navegacion **/

.container-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    justify-self: right;
}

.navigation a {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}

.navigation a:hover {
    color: #647C91;
}

.navigation a:last-of-type {
    margin: 0;
}


/** Boton Login **/

.button-login {
    font-size: 1.5rem;
    color: #567591;
    border-radius: 10rem;
    background: transparent;
    padding: 0.6rem 2rem;
    text-decoration: none;
    border: solid 2px #567591;
    text-align: center;
    transition: all 400ms ease;
    max-width: 15rem;
}

.container-button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    justify-self: right;
}

.container-button a:hover {
    color: whitesmoke;
    background-color: #647C91;
}


/** Cover **/

.container-cover {
    width: 100%;
    height: 56rem;
    position: relative;
    background-image: url(../img/programacion-one.jpg);
    background-size: 130%;
    animation: movimiento 25s infinite linear alternate;
}

@keyframes movimiento {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

.container-opacity {
    width: 100%;
    height: 56rem;
    background-color: #293846;
    opacity: 0.9;
    position: absolute;
}

.title-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-title {
    max-width: 42rem;
    margin: 19rem 7rem;
    padding: 5rem;
    color: #647C91;
    background-color: #000000;
    text-align: center;
    opacity: 1;
    justify-self: center;
}

.four-titles {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 10rem 0rem;
}

.four-titles a {
    font-family: 'Raleway', sans-serif;
    font-size: 7rem;
    font-weight: 500;
    text-decoration: none;
    color: #818A91;
    transition: all 800ms ease;
}

.four-titles a:hover {
    color: white;
}


/** Organización del contenido de las cuatro columnas **/

.container-details {
    width: 100%;
    max-width: 110rem;
    margin: auto;
    margin-top: 3rem;
}

.details {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: whitesmoke;
}

.details h4 {
    font-weight: 100;
    line-height: 1;
    margin: 1rem 3rem 2rem 3rem;
}

.details p {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 3rem 2rem 3rem;
    max-height: 30rem;
}


/* Grid para las columnas principales */

.organice-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
}

.columns-details {
    background-color: #2e3e4e;
    border-radius: 2rem;
    opacity: 0.95;
}

.columns-details a:hover {
    color: #476E91;
    background-color: #2e3e4e;
}

.border-image {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.button-go {
    position: relative;
    color: #BFBFBF;
    text-decoration: none;
    margin-left: 15rem;
    background-color: #354759;
    border: 1px solid transparent;
    border-color: rgba(120, 130, 140, 0.13);
    padding: 2rem 2.5rem;
    border-radius: 5rem;
    transition: all .2s ease-in-out;
}